header a {
  text-decoration: none;
}

#logo h1 {
  text-align: center;
  margin: 10px 0;
  padding: 0;
}

#logo h2 {
  text-align: center;
  margin: -5px 0 0 0;
  padding: 0;
}

nav ul {
  text-align: center;
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
}

nav li {
  display: inline;
  padding: 5px 10px;
  margin: 0;
}