/******************************
Portfolio
******************************/

#logo {
  background-color: #7E8D85;
  color: #3C493F;
  text-align: center;
}

#logo h1 {
  margin: 0;
  padding: 15px 0 0 0;
}

#logo h2 {
  margin: 0;
  padding: 0 0 15px 0;
}

nav {
  background-color: #B3BFB8;
}

nav ul {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  padding: 5px 10px;
}

nav ul li a {
  text-decoration: none;
  color: #3C493F;
}

nav ul li a.selected {
  color: #F06543;
  font-weight: bold;
}

nav ul li a:hover {
  color: #F06543;
  font-weight: bold;
}

#gallery {
  max-width: 80%;
  margin: 0 10%;
}

#gallery ul {
  list-style: none;
  margin: 15px 0;
  padding: 0;
}

#gallery ul li {
  max-width: 45%;
  margin: 0 2.5% 15px;
  padding: 0;
  float: left;
}

#gallery ul li p {
  text-align: center;
  background-color: #B3BFB8;
  margin: 0;
  padding: 10px 0;
  color: #3C493F;
}

#gallery ul li img {
  max-width: 1024px;
  width: 100%;
}

footer {
  clear: both;
  text-align: center;
  color: #B3BFB8
}

/******************************
About
******************************/

#portrait {
  display: block;
  margin: 15px auto;
  border-radius: 100%;
}

#about p {
  color: #3C493F;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

/******************************
Contact
******************************/

#contact p {
  color: #3C493F;
  width: 50%;
  text-align: center;
  margin: 25px auto; 
}

#contact ul {
  list-style: none;
}

#contact ul li {
  text-align: center;
}

#contact ul li a {
  text-decoration: none;
}
