header {
  background: #ddd;
}

header a {
  text-decoration: none;
}

#logo h1 {
  text-align: center;
  margin: 10px 0;
  padding: 0;
}

#logo h2 {
  text-align: center;
  margin: -5px 0 0 0;
  padding: 0;
}

nav {
  background: #ccc;
}

nav ul {
  text-align: center;
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
}

nav li {
  display: inline;
  padding: 10px 10px;
  margin: 0;
}

#container {
  width: 90%;
  margin:0 auto;
  padding: 0;
}

#gallery {
  list-style: none;
}

#gallery li {
  float: left;
  max-width: 45%;
  margin: 10px 2.5%;
  padding: 0;
  background: #ddd;
}

#gallery img {
  max-width: 100%;
}

#gallery p {
  text-align: center;
}

footer {
  clear: both;
  text-align: center;
  color: #aaa;
}